{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Przeglądaj wykłady dla kursu "{{ course }}"{% endblock %}
{% block body %}
    <h3>Lista udostępnionych wykładów - kurs "{{ course }}"</h3>
    <table class="table table-sm table-striped">
        <thead>
        <tr class="bg-primary text-white">
            <th>#</th>
            <th>Kurs</th>
            <th>Tytuł</th>
            <th>Opis</th>
            <th>Rozmiar</th>
            <th>Czas dodania</th>
            <th>Typ</th>
            <th>Nazwa pliku</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for key, file in files %}
            <tr data-toggle="collapse" data-target="#demo1" class="accordion-toggle" id="accordion">
                <td>{{ key+1 }}</td>
                <td>{{ file.name }}</td>
                <td>{{ file.title }}</td>
                <td>{{ file.description }}</td>
                <td>{{ file.size }} KB</td>
                <td>{{ file.time|date("d.m.Y H:i:s") }}</td>
                <td>{{ file.type }}</td>
                <td>{{ file.filename }}</td>
                <td class="text-center"><a href="#" title="Wyświetl plik"><i class="far fa-eye fa-1x"></i></a>
                    <a href="#" title="Pobierz plik" download><i class="fa fa-file-download fa-1x"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary" href="{{ path('show_all_lectures') }}">Powrót do pełnej listy</a>
{% endblock %}