<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}SUW{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
              integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<nav class="collapsible-menu navbar-dark bg-primary" style="position: sticky; z-index:1000;">
    <span class="big-nav"><a class="navbar-brand" href='{{ url('main') }}'>System Udostępniania Wykładów</a></span>
    <span class="small-nav"><a class="navbar-brand" href="{{ url('main') }}">SUW</a></span>
    <input class="small-nav" type="checkbox" id="menu">
    <label class="small-nav" for="menu"><img src="{{ asset('assets/burger.svg') }}" alt="MENU" height="42"
                                             width="42"></label>

    <!-- to mobile topbar -->
    <div class="mobile-menu-content small-nav">
        <a class="nav-link {% if app.request.attributes.get("_route") == 'main' %} mobile-active{% endif %}"
           href='{{ url('main') }}'>
            STRONA GŁÓWNA</a>
        <a class="nav-link {% if app.request.attributes.get("_route") == 'file_index' %} mobile-active{% endif %}"
           href='{{ url('file_index') }}'
           style="{% if is_granted('ROLE_LECTURER') or is_granted('ROLE_ADMIN') %}display:block{% else %}display:none{% endif %}">
            ZARZĄDZANIE MATERIAŁAMI</a>
        <a class="nav-link{% if app.request.attributes.get("_route") == 'show_all_lectures' %} mobile-active{% endif %}"
           href='{{ url('show_all_lectures') }}'
           style="{% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}display:block{% else %}display:none{% endif %}">
            PRZEGLĄDAJ WYKŁADY/KURSY</a>
        <a class="nav-link"
           href='{{ url('userPanel') }}'
           style="{% if is_granted('ROLE_USER') %}display:block{% else %}display:none{% endif %}">
            <span class="<{% if app.request.attributes.get("_route") == 'userPanel' %} mobile-active{% endif %}"
                  style="display:inline">PANEL UŻYTKOWNIKA</span> </a>

        <a class="nav-link{% if app.request.attributes.get("_route") == 'admin' %} mobile-active{% endif %}"
           href='{{ url('admin_index') }}'
           style="{% if is_granted('ROLE_ADMIN') %}display:block{% else %}display:none{% endif %}">
            PANEL ADMINISTRATORA</a>
        {% if app.user %}
            <p></p>
            <p> Zalogowany jako: {{ app.user }}
                <a href="{{ url('logout') }}" class="btn btn-light btn-inline">WYLOGUJ</a></p>
        {% else %}
            <div>
                <a href="{{ url('register') }}" class="btn btn-light btn-inline btn-mobile">REJESTRACJA</a>
                <a href="{{ url('login') }}" class="btn btn-light btn-inline btn-mobile">LOGOWANIE</a>
            </div>
        {% endif %}
    </div>

    <!-- to desktop topbar -->
    {% if app.user %}
        <div class="nav-buttons big-nav"><p class="lead">Zalogowany
                jako: {{ app.user }}
                <a href="{{ logout_path('main') }}" class="btn btn-light btn-inline"> WYLOGUJ</a></p>
        </div>
    {% else %}
        <div class="nav-buttons big-nav">
            <a href="{{ url('register') }}" class="btn btn-light btn-inline">REJESTRACJA</a>
            <a href="{{ url('login') }}" class="btn btn-light btn-inline">LOGOWANIE</a>
        </div>
    {% endif %}

</nav>

<!-- desktop navigation -->
<div class="container-fluid" style="margin: 0; padding: 0;">
    <div class="row" style="margin: 0;">
        <div class="col-md-2 col-sm-0 nav-left-site big-nav">
            <div class="list-group nav flex-column">
                <a class="nav-link list-group-item list-group-item-action{% if app.request.attributes.get("_route") == 'main' %} active{% endif %}"
                   href='{{ url('main') }}'>
                    STRONA GŁÓWNA</a>
                <a class="nav-link list-group-item list-group-item-action{% if app.request.attributes.get("_route") == 'file_index' %} active{% endif %}"
                   href='{{ url('file_index') }}'
                   style="{% if is_granted('ROLE_LECTURER') or is_granted('ROLE_ADMIN') %}display:block{% else %}display:none{% endif %}">
                    ZARZĄDZANIE MATERIAŁAMI</a>
                <a class="nav-link list-group-item list-group-item-action{% if app.request.attributes.get("_route") == 'show_all_lectures' %} active{% endif %}"
                   href='{{ url('show_all_lectures') }}'
                   style="{% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}display:block{% else %}display:none{% endif %}">
                    PRZEGLĄDAJ WYKŁADY/KURSY</a>
                <a class="nav-link list-group-item list-group-item-action{% if app.request.attributes.get("_route") == 'userPanel' %} active{% endif %}"
                   href='{{ url('userPanel') }}'
                   style="{% if is_granted('ROLE_USER') %}display:block{% else %}display:none{% endif %}">
                    PANEL UŻYTKOWNIKA</a>
                <a class="nav-link list-group-item list-group-item-action{% if app.request.attributes.get("_route") == 'admin' %} active{% endif %}"
                   href='{{ url('admin_index') }}'
                   style="{% if is_granted('ROLE_ADMIN') %}display:block{% else %}display:none{% endif %}">
                    PANEL ADMINISTRATORA</a>
            </div>
            <div class="statistics">
                {% block statistics %}
                    {{ render(controller('AppBundle:Main:stats')) }}
                {% endblock %}
            </div>
        </div>
        <div class="col-xl-10 col-sm-12 main-content">
            {% block msg %}
                {% for label, messages in app.session.flashbag.all %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }} flash-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endblock %}
            {% block body %}{{ content|raw }}{% endblock %}
        </div>
    </div>
    <footer>
        <h5 class="text-center">Copyright ZUT {{ "now"|date("Y") }}</h5>
    </footer>
{% block javascripts %}
    <script type="text/javascript">
        /*
        document.getElementsByTagName("div")[0].style.display = "none";
        document.getElementsByTagName("div")[1].style.display = "none";
        */
    </script>
{% endblock %}
</body>
</html>
