{% extends 'base.html.twig' %}
{% form_theme form _self %}
{% block title %}{{ parent() }} - Panel Uzytkownika {% endblock %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <div class="alert alert-danger" style="display: inline-block">
                {% for error in errors %}
                    {{ error.message }}<br />
                {% endfor %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}
{% block form_row %}
    {{ form_label(form) }}
    {{ form_errors(form) }}
    {% if form.vars.valid == false %}{{ form_widget(form,{'attr':{'class':'form-control is-invalid'}}) }}{% else %}{{ form_widget(form) }}{% endif %}
{% endblock %}

{% block body %}
    <div>
        <h2>Panel użytkownika</h2>
        Zalogowany jako: {{ app.user }}
        <hr>
        <h4>Hasło do wykładów:</h4>
        <h5>{{ LecturesPassword }}</h5>
        <a class="btn btn-warning btn-sm m-0" href="{{ path('userPanel_generate_new_pwd') }}" >Wygeneruj nowe</a>
        <hr>
        <h5>Zmiana hasła</h5>

        {{ form_start(form) }}
            <div class="form-group">{{ form_row(form.password) }}</div>
            <div class="form-group">{{ form_row(form.plainPassword.first) }}</div>
            <div class="form-group">{{ form_row(form.plainPassword.second) }}</div>
        {{ form_end(form) }}

    </div> 
{% endblock %}