{% extends 'base.html.twig' %}
{% form_theme edit_form _self %}

 {#form_errors.html.twig#}
{% block form_errors %}
    {% spaceless %}

        {% if errors|length > 0 %}
            <div class="alert alert-danger" style="display: inline-block">
                {% for error in errors %}
                    {{ error.message }}<br/>
                {% endfor %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block body %}
    <h1>Edycja pliku</h1>
    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <a class="btn btn-primary mt-0 ml-0" href="{{ path('file_index') }}">Powrót do listy</a>
    <input class="btn btn-success mt-0 ml-0" type="submit" value="Zapisz zmiany"/>
    <a class="btn btn-warning mt-0 ml-0" href="{{ path('file_privilege', { 'fileId': file.id }) }}">Udostępnij studentom</a>
    <a class="btn btn-danger mt-0 ml-0" href="{{ path('file_delete',{ 'id': file.id}) }}">Usuń</a>
    {{ form_end(edit_form) }}
{% endblock %}
