{% extends 'base.html.twig' %}
{% form_theme form _self %}

 {#form_errors.html.twig#}
{% block form_errors %}
    {% spaceless %}

        {% if errors|length > 0 %}
            <div class="alert alert-danger" style="display: inline-block">
                {% for error in errors %}
                    {{ error.message }}<br />
                {% endfor %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block body %}
    <h1>Udostępnianie wykładów</h1>
    <p></p>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input class="btn btn-primary" type="submit" value="Wyślij">
    {{ form_end(form) }}
            <a class="btn btn-primary" href="{{ path('file_index') }}">Powrót do listy</a>
{% endblock %}
