{% extends 'base.html.twig' %}

{% block body %}
    <h2>Podgląd pliku</h2>

    <table class="table table-sm table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ file.id }}</td>
            </tr>
            <tr>
                <th>Tytuł</th>
                <td>{{ file.title }}</td>
            </tr>
            <tr>
                <th>Opis</th>
                <td>{{ file.description }}</td>
            </tr>
            <tr>
                <th>Rozmiar</th>
                <td>{{ file.size }} kb</td>
            </tr>
            <tr>
                <th>Czas dodania</th>
                <td>{% if file.time %}{{ file.time|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Typ</th>
                <td>{{ file.type }}</td>
            </tr>
            <tr>
                <th>Nazwa pliku</th>
                <td>{{ file.filename }}</td>
            </tr>
        </tbody>
    </table>
            <a class="btn btn-primary mt-0 ml-0" href="{{ path('file_index') }}">Powrót do listy</a>
            <a class="btn btn-success mt-0 ml-0" href="{{ path('file_edit', { 'id': file.id }) }}">Edytuj</a>
            <a class="btn btn-warning mt-0 ml-0" href="{{ path('file_privilege', { 'fileId': file.id }) }}">Udostępnij studentom</a>
            <a class="btn btn-info mt-0 ml-0" href="{{ path('file_downloads', { 'fileId': file.id }) }}">Pokaż historie pobrań</a>
{% endblock %}
