{% extends 'base.html.twig' %}

{% block body %}
    <h1>Podgląd użytkownika</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Transcriptid</th>
                <td>{{ user.transcriptId }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Lecturespassword</th>
                <td>{{ user.LecturesPassword }}</td>
            </tr>
            <tr>
                <th>Lastactivity</th>
                <td>{% if user.lastActivity %}{{ user.lastActivity|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{% if user.roles %}{{ user.roles|join(', ') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_users_index') }}">Powrót do listy</a>
        </li>
        <li>
            <a href="{{ path('admin_users_edit', { 'id': user.id }) }}">Edytuj</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Usuń">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
