{% extends 'base.html.twig' %}

{% block body %}
    <h2>Nadawanie uprawnień do odczytu dla pliku:</h2>
    <h4>{% if file.title %}"{{ file.title }}"{% endif %} ({{ file.filename }})</h4>
    {% if form.user.vars.choices %}
        {{ form(form) }}
{% else %}
        <div class="alert alert-warning" role="alert">
            <strong>Wszyscy uzytkownicy mają nadane uprawnienia do tego pliku.</strong>
        </div>
    {% endif %}
    <h3>Nadane uprawnienia:</h3>
    {% if privileges %}
        <div class="col-md-3">
        <table class="table table-sm table-striped">
        <thead>
        <tr class="bg-primary text-white">
            <th scope="col">#</th>
            <th scope="col">Nr indeksu</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for privilege in privileges %}
            <tr>
                <td scope="row">{{ loop.index }}</td>
                <td scope="row">{{ privilege.user.transcriptId }}</td>
                <td scope="row">
                    <a class="btn btn-sm btn-danger m-0" href="{{ path('privilege_delete', { 'privilegeId': privilege.id }) }}">usuń</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        </div>
    {% else %}
        <div class="alert alert-warning" role="alert">
            <strong>brak nadanych uprawnień</strong>
        </div>
    {% endif %}
    <a class="btn btn-primary ml-0 mt-0" href="{{ path('file_edit', {'id':file.id}) }}">Powrót do edycji pliku</a>
    <a class="btn btn-primary mt-0 ml-0" href="{{ path('file_index') }}">Powrót do listy</a>
{% endblock %}
